body {
    font-family: Arial, sans-serif;
    background-color: #F1EEE9;
    margin: 0;
    padding: 0;
  }
  .menu {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .section {
    margin-bottom: 20px;
  }
  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .item-name {
    flex: 1;
  }
  .item-price {
    flex-shrink: 0;
    color: #888;
  }